.popup-card {
    border: 1px solid #a8a8a8;
    width: 200px;
    height: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .name{
      margin: 3px;
    }
    .role{
      margin: 0;
      font-size: 14px;
      font-weight: 400;
    }
    .popup-option {
      cursor: pointer;
    }
}