@import url("./components/common/Loader/index.scss");

:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;
  color: #212121;
  background-color: rgb(224, 224, 224);
}

body {
  margin: 0;
  border: 0;
}